####### Basic config
Basic:
  memfree:   0.33  # min free memory ratio to do a loop. (1=totally mem used)
  spacefree: 0.10  # min free space ratio in directory,  (1=totally space used)
  data_dir:  '/mnt/ALLSKY_USB/data/oaj/allsky'   # Place to save data
  loglevel:  'INFO'                             # DEBUG, INFO, WARNING
  logfile:   '/tmp/pyOculus.txt'                    # Logfile

####### Observatory Location
Observatory:
  name: "OAJ"
  lati: 40.0422222
  long: -01.0163889
  elev: 1957          # elevation in meters
  temp: 5             # temperature in Celcius
  prss: 800           # air pressure in mbars

####### Instrument parameters
Instru:
  name:      'Starlight Xpress AllSky Oculus'   # Name
  device:    'SX CCD SuperStar'     # To identify using INDI
  usbtag:    'Starlight Xpress'     # To identify using lsusb command
  id:        'allsky'               # prefix of images. UPAD id too (Only for OAJ/ceFca code)
  expo_max:  10                     # max time exposure (in seconds)
  expo_min:  0.5                    # min time exposure (in seconds)
  sundt:     30                     # time before/after sunset/sunrise to begin (in minutes)

# SenseHat module
SenseHat:
  enable:  True  # enable SenseHat hardware module       [True/False]
  ori:  270   # orientation SenseHat message          [degrees] 

